h1{
    color: blue;
    background-color: aquamarine;
    text-decoration: line-through;
     font-weight: normal;
     font-family: monospace;
     line-height: 1;
     text-transform: uppercase;
     text-align: center;
    
}
h2{
    color: blue;
    text-decoration: dotted;
    font-weight: bold;
    line-height: 2;
    text-transform: capitalize;
    text-align: right;
}
h3{
    color: blue;
    text-decoration: wavy;
    font-weight: bolder;
    line-height: 3;
    text-transform: lowercase;
}
h4{
    color: blue;
    text-decoration:overline;
    font-weight: 400;
    line-height: 4;
    text-transform: none;

}